<app-header></app-header>
<mat-card class="mat-card-container">
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-form-field class="full-width">
        <label for="usuario">Usuario:</label>
        <input matInput type="text" id="usuario" formControlName="usuario">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="full-width">
        <label for="contrasena">Contraseña:</label>
        <input matInput type="password" id="contrasena" formControlName="contrasena">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-radio-group formControlName="rol">
        <label>Selecciona un Rol:</label>
        <div>
        <mat-radio-button value="admin">Admin</mat-radio-button>
        <mat-radio-button value="gerente">Gerente</mat-radio-button>
        <mat-radio-button value="trabajador">Trabajador</mat-radio-button>
    </div>
      </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>
</mat-card>
<app-footer></app-footer>

